body {
    font-family: sans-serif;
}

.placeholder {
    display: block;
    margin: 0 auto;
}

.placeholder:hover {
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}

.modal {
    position: absolute;
    left: 30%;
    top: 30%;
    margin: 0 auto;
    background-color: #fff;
    transition-duration: 500ms;
    width: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: #000 1px 1px 5px 0;
    opacity: 1;
}

.modalHide {
    top: 10%;
    opacity: 0;
    transition-duration: 500ms;
    z-index: -100;
}